<!DOCTYPE html>

<div class="container content">
  <!--question text-->
  <h2 class="imageTitle">Question</h2>
  <!--notification-->
  <div class="notification">
    <div class="alert alert-success" role="alert">Correct!</div>
  </div>
  <!--score-->
  <div class="score">Score: 0</div>
  <!--card image rows-->
  <div class="d-flex flex-row justify-content-center">
    <!--card images-->
    <div class="cardContainer">
      <img src="./../assets/bote.png" class="card-img-top" alt="todo" />
    </div>
    <div class="cardContainer">
      <img src="./../assets/diamante.png" class="card-img-top" alt="todo" />
    </div>
  </div>
  <!--card image rows-->
  <div class="d-flex flex-row justify-content-center">
    <!--card images-->
    <div class="cardContainer">
      <img src="./../assets/espada.png" class="card-img-top" alt="todo" />
    </div>
    <div class="cardContainer">
      <img src="./../assets/hacha.png" class="card-img-top" alt="todo" />
    </div>
  </div>
  <!--progress-->
  <div class="d-flex flex-row justify-content-between">
    <div class="progress w-100">
      <div
        class="progress-bar bg-success"
        role="progressbar"
        aria-valuenow="80"
        aria-valuemin="0"
        aria-valuemax="100"
        style="width: 80%"
      ></div>
    </div>
    <!--add trophy-->
  </div>
</div>
